/* Realize as seguintes tarefas:
1 - Utilizando a abordagem mobile first e media queries , crie três versões de layout diferentes para essa página . Cada layout deve corresponder a um tamanho diferente de página (pequeno, médio e grande) . Faça pelo menos um commit para cada layout ;
2 - Para fazer isso de forma adequada, você deve prestar atenção no conteúdo da página e pensar em como mostrá-lo em cada um dos tamanhos de tela:
Onde a lista de capítulos deve estar posicionada?
Como a história deve ser mostrada?
Como o cabeçalho deve ser posicionado?
O que fazer com as informações do autor em cada tamanho de tela?
3 - Talvez você precise alterar o HTML um pouco, adicionando elementos para facilitar a estilização, ou talvez mudando um bloco de lugar dentro da página.
 */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 500px) {
      body {
          margin: 0px;
          font-size: 20px;
      }

      header {
          margin: 1px;
          padding: 1px;
          background-color: seagreen;
      }

      header p {
        text-align: center;        
      }

      #nav-ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
      }

      nav li {
          background-color: goldenrod;
          border-radius: 5px;
          list-style: none;
      }

      .aside-one {
          margin: 1px;
          padding: 1px;
          background-color: dodgerblue;
      }

      .aside-two {
          margin: 1px;
          padding: 1px;
          background-color: lightpink;
      }

      h2 {
          text-align: center;
      }

      #info-ul li {          
          list-style: none;
      }

      .main-content {
          margin: 50px;
          text-align: center;
      }

      footer {
          margin: 1px;
          padding: 1px;
          text-align: center;
          background-color: gold;
      }
      
  }

  @media screen and (min-width: 500px) and (max-width: 1024px) {
    body {
        margin: 0px;
        font-size: 30px;
    }

    header {
        margin: 1px;
        padding: 1px;
        background-color: seagreen;
    }

    header p {
      text-align: center;        
    }

    #nav-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    nav li {
        background-color: goldenrod;
        border-radius: 5px;
        list-style: none;
    }

    .aside-one {
        margin: 1px;
        padding: 1px;
        background-color: dodgerblue;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside-two {
        margin: 1px;
        padding: 1px;
        background-color: lightpink;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    #info-ul li {          
        list-style: none;
    }

    .main-content {
        margin: 50px;
        text-align: center;
    }

    footer {
        margin: 1px;
        padding: 1px;
        text-align: center;
        background-color: gold;
    }

    footer p {
        margin: 10px;
    }
    
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0px;
        font-size: 25px;
    }

    header {
        margin: 1px;
        padding: 1px;
        background-color: seagreen;
    }

    header p {
      text-align: center;        
    }

    #nav-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    nav li {
        background-color: goldenrod;
        border-radius: 5px;
        list-style: none;
    }

    .aside-one {
        margin: 1px;
        padding: 1px;
        background-color: dodgerblue;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside-two {
        margin: 1px;
        padding: 1px;
        background-color: lightpink;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    #info-ul li {          
        list-style: none;
    }

    .main-content {
        margin: 50px;
        text-align: center;
    }

    footer {
        margin: 1px;
        padding: 1px;
        text-align: center;
        background-color: gold;
    }

    footer p {
        margin: 10px;
    }
    
}