.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 375px;
    left: 70px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 3;
    top: 190px;
    left: 235px;
  }
  
  .bowser {
    width: 200px;
  }